$("#contact-stats").html("<p class='results'><strong><%= @contacts.all.size %></strong> records found</p>").hide().fadeIn(500);
$("#contacts-list").html("<%= escape_javascript( render @contacts ) %>").hide().fadeIn(200);
