<h1>Editing Value List</h1>

<%= render 'form', value_list: @value_list %>
<hr>
<%= link_to 'Show', @value_list, class: 'btn btn-outline-secondary' %>
<%= link_to 'Back', value_lists_path, class: 'btn btn-outline-secondary' %>
