<!--SEARCH FORM-->
<div class="row">
  <div class="col-sm-12">

    <!--SEARCH FORM-->
    <%= form_tag local_path, :method => 'get', :remote => true do %>
        <div class="input-group">
          <%= text_field_tag :search_contact, params[:search_contact], class: 'form-control', placeholder: 'Search Contacts' %>
        </div>
    <% end %>
  </div><!-- /col -->

  <!--SEARCH STATS-->
  <div id="contact-stats" class="col-sm-12"></div>
  <hr>

  <!--SEARCH RESULTS-->
  <div class="col-sm-12">
    <div id="contacts-list" class="list-group">
      <%= render @contacts if @contacts %>
    </div>
  </div><!-- /col -->

</div><!-- /row -->
