<!--SEARCH FORM-->
<div class="row">
  <div class="col-sm-12">

    <!--SEARCH FORM-->
    <%= form_tag local_path, :method => 'get', :remote => true do %>
        <div class="input-group">
          <%= text_field_tag :search_job, params[:search_job], class: 'form-control', placeholder: 'Search Jobs' %>
        </div>
    <% end %>
  </div><!-- /col -->

  <!--SEARCH STATS-->
  <div id="job-stats" class="col-sm-12"></div>
  <hr>

  <!--SEARCH RESULTS-->
  <div class="col-sm-12">
    <div id="jobs-list" class="list-group">
      <%= render @jobs if @jobs %>
    </div>
  </div><!-- /col -->

</div><!-- /row -->