<ul class="list-group">
  <p class="list-group-item disabled">My Artists</p>
  <li class="list-group-item list-group-item-action">Jack Tripper <small class="pull-xs-right">Photographer</small></li>
  <li class="list-group-item list-group-item-action">Chrissy Snow <small class="pull-xs-right">Photographer</small></li>
  <li class="list-group-item list-group-item-action">Janet Wood <small class="pull-xs-right">Photographer</small></li>
  <li class="list-group-item list-group-item-action">Stanley Roper <small class="pull-xs-right">Photographer</small></li>
  <li class="list-group-item list-group-item-action">Helen Roper <small class="pull-xs-right">Director</small></li>
  <li class="list-group-item list-group-item-action">Ralph Furley <small class="pull-xs-right">Photographer</small></li>
  <%= link_to 'Coppi Barbieri', artist_path('coppi-barbieri'), class: "list-group-item list-group-item-action" %>
  <%= link_to 'Richard Phibbs', artist_path('richard-phibbs'), class: "list-group-item list-group-item-action" %>
</ul>