<ul class="list-group">
  <p class="list-group-item disabled">My Jobs</p>
  <li class="list-group-item list-group-item-action">AD-10998 <small class="pull-xs-right">Estimating</small></li>
  <li class="list-group-item list-group-item-action">AD-11087 <small class="pull-xs-right">Estimating</small></li>
  <li class="list-group-item list-group-item-action">AD-11890 <small class="pull-xs-right">Confirmed</small></li>
  <li class="list-group-item list-group-item-action">AD-10998 <small class="pull-xs-right">Estimating</small></li>
  <li class="list-group-item list-group-item-action">AD-10998 <small class="pull-xs-right">Estimating</small></li>
</ul>